<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cadastro Convidados</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>

<body>

	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Lista de convidados</h1>
		</div>
		<div class="card">
			<form class="card-body" method="POST" th:object="${convidado}"
				th:action="@{/convidados}">
				<div class="row">
					<div class="form-group mb-3 col-sm">
						<label for="nome">Nome</label> 
						<input type="text" class="form-control mt-3" placeholder="Nome do convidado" name="nome"  th:field="*{nome}">
						<div th:errors="*{nome}" class="invalid-feedback"></div>
					</div>
					<div class="form-group mb-3 col-sm">
						<label for="email">Email</label> 
						<input type="email" class="form-control mt-3" placeholder="E-mail do convidado" th:field="*{email}">
					</div>
					<div class="form-group mb-3 col-sm">
						<label for="acompanhate">Acompanhante</label> 
						<input type="text" class="form-control mt-3" placeholder="quantidade do acompanhante"  th:field="*{acompanhante}">
					</div>
				</div>
				<button type="submit" class="btn btn-secondary">Adicionar</button>
			</form>
		</div>
		<table class="table" >
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nome</th>
					<th scope="col">E-mail</th>
					<th scope="col">Acompanhante</th>
					<th class="text-center" scope="col">Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="convidado : ${convidados}">
					<th th:text="${convidado.id}"scope="row"></th>
					<td th:text="${convidado.nome}"></td>
					<td th:text="${convidado.email}"></td>
					<td th:text="${convidado.acompanhante}"></td>
					<td class="text-center">
						<a th:href="@{/convidados/{id}(id = ${convidado.id})}" class="btn btn-primary">editar</a>
						<a th:href="@{/convidados/excluir/{id}(id = ${convidado.id})}" class="btn btn btn-danger">excluir</a>
					</td>
				</tr>				
			</tbody>
		</table>
	</div>	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
